<!DOCTYPE html  xmlns="http://www.w3.org/1999/xhtml">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <style>


    </style>
</head>
<body>
<div id="app" style="width: 800px;  margin:0 auto" >
    <el-container>
        <el-main>
            <el-row>
                <el-col>
                    <div class="head-style font-style">
                        DNA assembly
                    </div>

                    <div class="menu-style">

                        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                                 @select="handleSelect"
                                 background-color="#545c64"
                                 text-color="#fff"
                                 active-text-color="#ffd04b">

                            <el-menu-item index="1" class="menu-item">
                                <a href="home.html" target="_self">introduction</a>
                            </el-menu-item>

                            <el-menu-item index="2" class="menu-item">
                                <a href="assembly.html" target="_self">assembly</a>
                            </el-menu-item>

<!--                            <el-menu-item index="3" class="menu-item">-->
<!--                                <a href="doc" target="_self">doc</a>-->
<!--                            </el-menu-item>-->

                        </el-menu>

                    </div>
                    <el-container>

                        <div id="show" class="main-height main-style">
                            home
                        </div>
                    </el-container>

                    <div class="footer-style footer-font">
                        copylight
                    </div>

                </el-col>
            </el-row>
        </el-main>

    </el-container>
</div>

</body>

<script src="../static/js/vue.js"></script>
<script src="../static/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {}
    });

</script>
</html>